footer {
    background-color: #ffff32;
    border-top: dashed 1px black;
    box-sizing: border-box;
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 15px 20px;
}